<form class="form-horizontal">
	<h3>{{ _('Communication Settings') }}</h3>
    <div class="control-group" title="{{ _('Serial port to connect to, setting this to AUTO will make OctoPrint try to automatically find the right setting') }}">
		<label class="control-label" for="settings-arduinosafety-serialPort">{{ _('Serial Port') }}</label>
		<div class="controls">
			<select id="settings-arduinosafety-serialPort" data-bind="options: serial_portOptions, value: settings.plugins.arduinosafety.comport"></select>
		</div>
	</div>
    <div class="control-group" title="{{ _('Serial baud rate to connect with, setting this to AUTO will make OctoPrint try to automatically find the right setting') }}">
        <label class="control-label" for="settings-octoremote-baudrate">{{ _('Baudrate') }}</label>
        <div class="controls">
            <select id="settings-octoremote-baudrate" data-bind="options: settings.plugins.arduinosafety.baudrateOpt, value: settings.plugins.arduinosafety.baudrate"></select>
        </div>
    </div>
	<h3>{{ _('Axis movement distance') }}</h3>
	<div class="control-group" title="{{_('Einstellungen für Achsenbewegungen') }}">
        <label class="control-label" for="settings-arduinosafety-movement1">{{ _('Stage 1') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-arduinosafety-movement1" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.movementStep1">
			<span class="add-on">mm</span>
			</div>
        </div>
		<label class="control-label" for="settings-arduinosafety-movement2">{{ _('Stage 2') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-arduinosafety-movement2" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.movementStep2">
			<span class="add-on">mm</span>
			</div>
        </div>
		<label class="control-label" for="settings-arduinosafety-movement3">{{ _('Stage 3') }}</label>
        <div class="controls">
			<div class="input-append">
            <input id="settings-arduinosafety-movement3" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.movementStep3">
			<span class="add-on">mm</span>
			</div>
        </div>
		<label class="control-label" for="settings-arduinosafety-movement4">{{ _('Stage 4') }}</label>
        <div class="controls">
			<div class="input-append">		
            <input id="settings-arduinosafety-movement4" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.movementStep4">
			<span class="add-on">mm</span>
			</div>
        </div>
		
	</div>

	<h3>{{ _('Extrusion Settings') }}</h3>
		<div class="control-group" title="{{_('Einstellungen für Extrusion und Retraction') }}">
			<label class="control-label" for="settings-arduinosafety-extrusion">{{ _('Extrusion') }}</label>
			<div class="controls">
				<div class="input-append">		
				<input id="settings-arduinosafety-extrusion" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.extrusionAmount">
				<span class="add-on">mm</span>
			</div>
			</div>
			<label class="control-label" for="settings-arduinosafety-retraction">{{ _('Retraction') }}</label>
			<div class="controls">
			<div class="input-append">					
				<input id="settings-arduinosafety-retraction" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.retractionAmount">
				<span class="add-on">mm</span>
			</div>
			</div>
			
			<label class="control-label" for="settings-arduinosafety-extrudercount">{{ _('Installed Extruders') }}</label>
			<div class="controls">
				<input id="settings-arduinosafety-extrudercount" min="1" max="4" type="number" class="input-mini text-right" data-bind="value: settings.plugins.arduinosafety.numberOfTools">
			</div>
			
		</div>
	<h3>{{ _('User Buttons') }}</h3>
	<div class="control-group" title="{{_('Einstellungen für User Buttons') }}">
			<div>
				<label class="control-label" for="settings-arduinosafety-user">{{ _('User Button 1') }}</label>
				<div class="controls">
					<select id="settings-arduinosafety-user1mode" data-bind="options: settings.plugins.arduinosafety.userKeyModeOptions, value: settings.plugins.arduinosafety.userKeyMode1"></select>
					<div class="input-append">		
					<input id="settings-arduinosafety-user1value" type="text" class="input text-right" data-bind="value: settings.plugins.arduinosafety.userCommand1">
					</div>
				</div>
			</div>

			<div>
				<label class="control-label" for="settings-arduinosafety-user">{{ _('User Button 2') }}</label>
				<div class="controls">
					<select id="settings-arduinosafety-user2mode" data-bind="options: settings.plugins.arduinosafety.userKeyModeOptions, value: settings.plugins.arduinosafety.userKeyMode2"></select>
					<div class="input-append">		
					<input id="settings-arduinosafety-user2value" type="text" class="input text-right" data-bind="value: settings.plugins.arduinosafety.userCommand2">
					</div>
				</div>
			</div>
			
			<div>
				<label class="control-label" for="settings-arduinosafety-user">{{ _('User Button 3') }}</label>
				<div class="controls">
					<select id="settings-arduinosafety-user3mode" data-bind="options: settings.plugins.arduinosafety.userKeyModeOptions, value: settings.plugins.arduinosafety.userKeyMode3"></select>
					<div class="input-append">		
					<input id="settings-arduinosafety-user3value" type="text" class="input text-right" data-bind="value: settings.plugins.arduinosafety.userCommand3">
					</div>
				</div>
			</div>
		
			<div>
				<label class="control-label" for="settings-arduinosafety-user">{{ _('User Button 4') }}</label>
				<div class="controls">
					<select id="settings-arduinosafety-user4mode" data-bind="options: settings.plugins.arduinosafety.userKeyModeOptions, value: settings.plugins.arduinosafety.userKeyMode4"></select>
					<div class="input-append">		
					<input id="settings-arduinosafety-user4value" type="text" class="input text-right" data-bind="value: settings.plugins.arduinosafety.userCommand4">
					</div>
				</div>
			</div>
			
			<div>
				<label class="control-label" for="settings-arduinosafety-user">{{ _('User Button 5') }}</label>
				<div class="controls">
					<select id="settings-arduinosafety-user5mode" data-bind="options: settings.plugins.arduinosafety.userKeyModeOptions, value: settings.plugins.arduinosafety.userKeyMode5"></select>
					<div class="input-append">		
					<input id="settings-arduinosafety-user5value" type="text" class="input text-right" data-bind="value: settings.plugins.arduinosafety.userCommand5">
					</div>
				</div>
			</div>
			
		</div>
    
</form>
